{% load static %}
<!--begin::Global Theme Styles -->
<link href="{% static "assets/vendors/base/vendors.bundle.css" %}" rel="stylesheet" type="text/css" />

<!--RTL version:<link href="assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
<link href="{% static "assets/demo/demo12/base/style.bundle.css" %}" rel="stylesheet" type="text/css" />

<!--RTL version:<link href="assets/demo/demo12/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

<!--end::Global Theme Styles -->
